@model nutricloud_web.Models.LogInViewModel

@using (Html.BeginForm("LogIn", "Index", FormMethod.Post, new { @class = "col s12" }))
{
    <a class="modal-trigger" href="#modal1">Iniciar Sesión</a>
    <!-- Modal -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Iniciar Sesión</h4>
            <div class="row">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">

                            @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "validate" })
                            @Html.LabelFor(m => m.Email, new { @for = "email", data_error = "wrong", data_succes = "success" })

                            @*<input id="Email" type="email" class="validate">*@
                            @*<label for="email" data-error="wrong" data-success="right">Email</label>*@

                        </div><!--/.input-->
                    </div><!--/.col s12-->
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">

                            @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "validate" })
                            @Html.LabelFor(m => m.Password, new { @for = "password", data_error = "wrong", data_succes = "success" })

                            @*<input id="Password" type="password" class="validate">*@
                            @*<label for="Password" data-error="wrong" data-success="right">Contraseña</label>*@

                        </div><!--/.input-->
                    </div><!--/.col s12-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn waves-effect green-nutri">Ingresar</button>
        </div>
    </div>
}


