
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/LayoutHeader&Footer.cshtml";
}

<div class="row seccionFood">
    <div class="container">
        <h3>Perfil</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col l3 m3 s12 menu-left">
            <h5>Acciones</h5>
            <ul>
                <li><a href="#"><i class="material-icons orange-text text-darken-3 left-i">mode_edit</i>Editar datos personales</a></li>
            </ul>
        </div>
        <div class="col l9 m9 s12 home">
            <div class="divtop">
                <h4 class="listaHeader">Información General</h4>
                <h5>nombre de usuario</h5>
                <div class="row mtop">
                    <ul class="infogral">
                        <li>
                            <h6>usuario: </h6>
                            <span>--nombre de usuario--</span>
                        </li>
                        <li>
                            <h6>Email: </h6>
                            <span>--Email--</span>
                        </li>
                        <li>
                            <h6>Fecha de nacimiento: </h6>
                            <span>--Fechanac--</span>
                        </li>
                        <li>
                            <h6>Ultimo ingreso: </h6>
                            <span>--ultimo ingreso--</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="divtop">
                <h4 class="listaHeader">Mis recetas</h4>
                <div class="row mtop">
                </div>
            </div>
        </div>
    </div>



</div>