body{
  font-family: 'Montserrat', sans-serif;
}
@font-face {
  font-family: 'Amateur-Naked';
  src: url(font/Amateur-Naked.ttf);
}
.navbar-fixed {
    height: 53px !important;
}
.nobottom{
  margin-bottom: 0px !important;
}
.npad{
  padding-bottom: 0px !important;
}
.default_color{background-color: #3D8708 !important}

.default_color_text{color: #3D8708 !important}

.icon-block {
  padding: 0 15px;
}
.ptop{
  padding-top: 0px !important;
}

/*  Index  */

#index-banner {
	position: relative;
	background-image:url(img/bgTop2.jpg); 
  background-repeat:no-repeat;
  background-position:center;
}

.text_h {
	padding: 10% 0;
	font-size: 6.0em;
	font-weight: 100;
	color:white;
}
.text_h .cd-words-wrapper{
  line-height: 178px !important;
}
/*
.brand-logo{
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px;
}
*/
.brand-logo{
 /* font-family: 'Amateur-Naked';*/
 font-family: 'Righteous', cursive;
 font-weight: 700;
}
.brand-logo img {
  vertical-align: middle;
}
nav a.button-collapse i {
    color: #3D8708 !important;
    line-height: 54px !important;
}
nav .nav-wrapper i{
    line-height: 55px;
}

/*header efecto*/
/*
nav{
  background: rgba(0, 0, 0, 0.34) !important;
  box-shadow: none !important; 
  -webkit-box-shadow:none !important;
}
nav ul a {
  font-size: 1.2rem;
  color: #FFF !important;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 2px 15px;
}*/
nav {
  transition: all 0.4s ease;
  font-size: 24px;
  line-height: 48px;
  height: 52px;
  background: white !important;
  text-align: left;
  /*padding-left: 20px;*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
nav ul li a{
  color: #3D8708 !important;
}
nav .brand-logo{
  color: black;
  font-size: 21px;
}
.text_h2 {
  font-weight: 500;
  margin-bottom: 4%;
  line-height: 45px;
  font-size: 38px;
  color: #424442;
}
.span_h2 {
  font-weight: 300;
  color: #3D8708;
}

.text_b{
       color: #3D8708;
        font-size: 30px;
}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
 color: #3D8708;
 font-size: 7rem;
 display: block;
}
.card-content a {color: #3D8708;}

.card-content a:hover {color: #3D8708;}

#work{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

.pcipal-index{
  background-color: rgba(236, 236, 236, 0.58);
  border-radius: 7px;
  text-align: center;
  margin-bottom: 4%;
}
.pcipal-index .input-field label, input[type=text], input[type=password]{
  color: #5D5B5B !important;
}
.pcipal-index input[type=text], input[type=password]{
  border-bottom: 1px solid #797878;
}
.pcipal-index input[type=text]:focus, .pcipal-index input[type=password]:focus{
  border-bottom: solid 1px #558b2f !important;
  -webkit-box-shadow: 0 1px 0 0 #558b2f !important;
  -moz-box-shadow: 0 1px 0 0 #558b2f !important ;
  box-shadow: 0 1px 0 0 #558b2f !important;
}
.pcipal-index .input-field label.active{
  color: #558b2f !important;
}
.mtop{
  margin-top: 37px;
}
.titulo-index{
  padding-top: 20px;
}
.titulo-index h1{
  text-align: left;
  line-height: 65px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
}
.titulo-index h4{
  font-size: 24px;
  font-weight: 500;
  color: white;
  width: 72%;
}
.index-banner{
  margin-top: 4%;
}
/* -------------------------------- 

xtype 

-------------------------------- */
.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 70%;
  /*bottom: auto;*/
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 85%;
  width: 1px;
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
 /* background-color: #FFF;*/
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #3D8708 !important;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:1200; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../img/status.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
  .text_h {
    padding: 4% 0;
    font-size: 5em;
    font-weight: 100;
    color: white;
  }
}
.green-nutri{
  background-color: #3D8708 !important;
}
.container-resp{
           margin-top: 60px !important;
           margin-bottom: 60px !important;
           width: 100%;
}
.row-resp{
    /* padding-left: 53px !important; */
    /* padding-right: 55px !important; */
    width: 95%;
}
.txt-resp{
          padding: 56px !important;
    padding-left: 70px !important;
}
.txt-resp h3{
        font-size: 37px;
        line-height: 43px;
        color: #f1f8e9;
}
.img-resp img{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    float: right;
}
.resp-align{
     margin: 0 auto;
    width: 100%;
}
footer{
     background-color: rgb(45, 45, 45) !important;
     margin-top: 20px !important;
}
/*modal*/
#lean-overlay {
  z-index: 997 !important;
}
.modal{
  max-height: 100% !important;
  max-width: 40%;
  background-color: rgb(239, 239, 239);
}
.modal-content .input-field{
  padding-left: 0px;
  margin-top: 0px;
}
.modal-content .input-field input[type=email], .modal-content .input-field input[type=password]{
  background-color: white;
  color: black;
  padding-left: 96px;
  border-radius: 5px;
  height: 59px;
  box-shadow: 6px 6px 5px #888888 !important;
}
.modal-content .input-field label{
  left: 11px !important;
}
.modal-content .input-field label:focus{
    color: #3D8708 !important;
}
.modal-content h4{
  color: #3D8708 !important;
}
.card .card-content .card-title {
    line-height: 35px;
}
a.modal-action.modal-close.green-nutri.btn-flat {
    color: white !important;
}
.icon-plus{
    margin-left: 15px;
    margin: 5px;
    color: #3D8708;
    font-weight: 700 !important;
}
.checkusr {
        text-align: left;
        padding-left: 25px;
}
.checkusr label{
        color: #212121 !important;
}


/*  Home  */
.seccionHeader{
    position: relative;
    background-image: url(img/sectionHeader.jpg) !important;
    background-repeat: repeat; 
    background-position: -505px -337px;
    box-shadow: 0px 2px 5px rgba(103, 101, 101, 0.53);
    padding: 20px;
    /*padding-left: 82px;*/
}
.seccionHeader h3, .seccionFood h3{
        color: white;
        /*text-transform: capitalize;*/
}
.home{
     border: solid 1px rgba(212, 212, 212, 0.56);
     padding: 20px;
}

.alimento::after{
    content: "-";
    margin-left: 6px;
    margin-right: 6px;
}
.list-food{
    padding-left: 18px;
    padding-bottom: 9px;
    /*border-bottom: solid 1px rgba(61, 135, 8, 0.53);*/
}

.divtop{
       padding-left: 20px;
        margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.hasDatepicker{
        width: 0% !important;
        text-align: center !important;
        border-bottom: 2px solid #3D8708 !important;
        font-size: 19px !important;
}
.altercalendar{
        width: 70% !important;
        text-align: center !important;
        border-bottom: 2px solid #3D8708 !important;
        font-size: 19px !important;
}
.ui-datepicker-trigger{
    vertical-align: middle;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 3px #888888;
}
.ui-datepicker-trigger:hover {
     width: 44px;
    height: 49px;
}
.ui-widget-header {
     border: none !important;
    background:none !important; 
    color: #3D8708 !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}
.ui-datepicker th, .ui-widget {
    font-family: 'Montserrat', sans-serif !important;
}

.ui-icon-circle-triangle-w {
    background-position: -95px -17px !important;
}
.ui-icon-circle-triangle-e {
    background-position: -35px -17px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none !important;
    background: rgba(118, 226, 40, 0.32) !important;
    font-weight: normal;
    color: #555555;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid rgba(211, 211, 211, 0.46) !important;
}
.card-content h4{
        color: #272727 !important;
        font-size: 26px !important;
}
.card a{
    color: #3D8708 !important;
}
.list-food .card .card-content{
        padding: 0px !important;
    padding-left: 20px !important;
}
.menu-left ul {
    list-style-type: none;
    line-height: 36px;
    padding: 20px;
    padding-top: 5px;
    margin-top: 0px;
}
.menu-left ul li{
    list-style-type: none;
    padding-bottom: 9px;
    /*border-bottom: solid 1px rgba(61, 135, 8, 0.46);*/
}
.menu-left h5{
        font-size: 20px;
    border-bottom: solid 1px #CAC8C8;
    padding-bottom: 7px;
}
.menu-left ul li a{
        color: #3D8708;
    font-size: 18px;
}
.menu-left ul li a:hover {
    /* text-decoration: underline; */
    color: #2B5F06;
    font-size: 20px;
}
.home h3, .reporte h3{
        padding-left: 36px;
        font-size: 33px;
}
.left-i{
    margin-right: 8px !important;
    vertical-align:middle !important;
}
nav .nav-wrapper i {
    line-height: 26px !important;
    vertical-align: middle;
    height: 26px !important;
}
.menu-left{
    padding: 20px;
}

/*Buscador*/
.btn-buscar{
     border-radius: 34px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: text-top;
}
.btn-buscar i{
    font-size: 28px;
}
.resultados{
    margin-top: 25px;
}
.resultados li{
        border-bottom: solid 1px #B7B7B7;
}
.resultados li h6{
        font-size: 18px;
    margin-bottom: 0px;
}
.resultados li p{
        margin-top: 0px;
    margin-bottom: 6px;
    color: #7B7B7B;
}

/*Alimentos*/   
.seccionFood{
    position: relative;
    background-image: url(img/seccionFood.jpg) !important;
    background-repeat: repeat;
    background-position: -362px -132px;
    box-shadow: 0px 2px 5px rgba(103, 101, 101, 0.53);
    padding: 20px;
}
.datosFood{
    margin-top: 30px;
}
.datosFood li{
     display: inline-block;
    text-align: center;
    border-right: solid 1px #A7A5A5;
    border-right-style: dashed;
    padding: 35px;
}
.datosFood li h6{
        font-size: 22px;
}
.datosFood li span{
       color: rgb(239, 108, 0);
}
.porcion{
       border-bottom: 1px solid #3D8708 !important;
       width: 140px !important;
}
select{
    display: block;
}
.medida select{
        display: inline-block !important;
        width: 55% !important;
}
select:focus {
    outline: 1px solid #D1F3C9 !important;
}
.ingresos-food{
        width: 17%;
    border: none;
}
.btn-ingresar {
    border-radius: 0px;
    padding-left: 27px;
    margin-top: 30px;
    padding-right: 27px;
}
.listaHeader{
        background: rgba(61, 135, 8, 0.54);
        color: white;
        padding: 10px;
        font-size: 22px;
}
.infogral li{
         border-bottom: solid 1px rgba(214, 213, 213, 0.69);
    padding: 10px;
}
.infogral li h6{
        display: inline-block;
    font-size: 18px;
}
.infogral li h6:after{
    content:"-";
    margin-left:5px;
    margin-right: 5px;
}
.infogral li span{
    color: gray;
}

/*Registro*/
.fecha input[type=date]{
    color: #9E9C9B !important;
}
.fecha-label{
    top: -11px !important;
}
.register-form{
    padding-left:30px;
}
.drag-target {
     width: 7% !important;
}
.terminos{
    padding-left:25px;
    padding-top: 25px;
}
.btn-registro{
    padding-left:25px;
}

    










