
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/LayoutHeader&Footer.cshtml";
}

<div class="row seccionFood">
    <div class="container">
        <h3>Reportes</h3>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
    <div class="section">
        <h5>historial nutrientes</h5>
        <p>--aca va a ir el grafico--</p>
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Historial por grupo de comida</h5>
        <p>--aca va a ir el grafico--</p>
    </div>
</div>
