
@{
    ViewBag.Title = "Muro";
    Layout = "~/Views/LayoutHeader&Footer.cshtml";
}

<div class="row seccionFood">
    <div class="container">
        <h3>Muro</h3>
    </div>
</div>
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li><a href="#"><i class="material-icons right">search</i>Buscar usuarios...</a></li>
                <li><a href="#"><i class="material-icons right">done</i>Escriba un estado</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
            <div class="col s12  home">
                <div class="divtop">
                    <h4 class="listaHeader">--Usuario-- escribio el --fecha--</h4>
                    <div>Contenido del post</div>
                </div>
            </div>

     </div>
    </div>
